body {
    background-color: #5a1146;
    overflow: hidden;
}

.arriere{
    background: linear-gradient(#ff0082, #a0066c, #6d004b);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.arriere2{
    background: linear-gradient(#25032900, #d40d85, #76155500);
    width: 43%;
    height: 60%;
    position: absolute;
    top: 24%;
    border-radius: 50%;
    opacity: 17%;
    z-index: 2;
    left: 28.6%;
}

.ovalearriere{
    background: linear-gradient(#210027, #4f1939);
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-bottom-left-radius: 90% 15%;
    border-bottom-right-radius: 90% 15%;
}

.etoile{
    background-image: url(https://www.nicepng.com/png/full/77-776760_shining-white-star-png-download-flock.png);
    background-repeat: repeat;
    background-size: contain;
    background-position: left top;
    height: 100%;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 90% 15%;
    border-bottom-right-radius: 90% 15%;
}

.zigzag {
    position: relative;
    width: 100%;
    top: 28vmin;
    left: -850px;
}

.zigzag::before{
    content: "";
    display: block;
    position: relative;
    height: 22px;
    background: linear-gradient( 45deg, transparent 44px, #560333 50px, transparent 45px) 0 0, linear-gradient( -45deg, transparent 44px, #560333 50px, transparent 45px) 0 0;
    background-repeat: repeat-x;
    background-size: 40px 47px;
    transform: rotate(90deg);
}

.tete{
    background-color: #cc8576;
    width: 35.2%;
    height: 121vmin;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 80%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    position: relative;
    margin: auto;
    top: -15vmin;
    padding-top: 50px;
    border: 3px solid #77473e;
}

.lunette{
    position: relative;
    display: block;
    z-index: 1;
    left: 30px;
    top: 30%;
}

.lunette_g{
    background: url(./lunette_g.png);
    position: relative;
    width: 210px;
    height: 240px;
    z-index: 1;
    top: 0;
    border-bottom-right-radius: 70%;
    border-bottom-left-radius: 45%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 3px solid #716255;
    margin-right: 50px;
    display: inline-block;
    padding: 0 25px;
}

.lunette_d{
    background: url(./lunette_d.png);
    position: relative;
    width: 210px;
    height: 240px;
    top: 0;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 70%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 3px solid #716255;
    margin: auto;
    z-index: 1;
    display: inline-block;
    padding: 0 25px;
}

.lunette_m{
    background: #716255;
    width: 230px;
    height: 5px;
    z-index: 1;
    top: 0;
    display: inline-block;
    vertical-align: 950%;
    margin-left: -90px;
    margin-right: -120px;
}

.lunette_m2{
    background: #716255;
    width: 304px;
    height: 5px;
    top: 14%;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    margin-left: -181px;
    margin-right: -120px;
}

.lunette_br_g{
    width: 18%;
    height: 1%;
    background-color: #716255;
    position: absolute;
    top: 41.9%;
    left: -5.2%;
    border-top-right-radius: 30%;
    border-top-left-radius: 100% 100%;
    z-index: 1;
    transform: rotate(-54deg);
}

.lunette_br_d{
    width: 18%;
    height: 1%;
    background-color: #716255;
    position: absolute;
    top: 41.9%;
    left: 87.2%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 100% 100%;
    z-index: 1;
    transform: rotate(-125deg);
}

.sourcil{
    background-color: #5d4135;
    height: 807px;
    width: 2202px;
    top: -339px;
    left: -698px;
    position: absolute;
    clip-path: polygon(56% 33%, 59% 39%, 56% 38%, 50% 39%, 51% 32%);

}

.sourcil_d{
    background-color: #5d4135;
    height: 807px;
    width: 1880px;
    top: -339px;
    left: -552px;
    position: absolute;
    clip-path: polygon(40% 32%, 41% 39%, 34% 38%, 32% 39%, 33% 34%);

}


.oreille_g{
    background-color: #cc8576;
    height: 20%;
    width: 20%;
    top: 47%;
    left: -11%;
    position: absolute;
    border-bottom-left-radius: 90%;
    border-top-left-radius: 50%;
    border-top-right-radius: 70%;
}

.ombre_oreille_g{
    background-color: #956355;
    height: 50%;
    left: 14%;
    top: -5%;
    z-index: 1;
    width: 65%;
    position: absolute;
    clip-path: polygon(32% 22%, 52% 23%, 64% 29%, 53% 51%, 46% 64%, 33% 56%, 19% 56%, 4% 62%, 3% 39%, 13% 25%);

}

.ombre_oreille_d{
    background-color: #956355;
    height: 45%;
    left: 51%;
    top: -6%;
    transform: rotate(-6deg);
    z-index: 1;
    width: 59%;
    position: absolute;
    clip-path: polygon(32% 22%, 51% 25%, 59% 37%, 49% 60%, 33% 56%, 19% 57%, 6% 64%, 4% 49%, 3% 34%, 14% 26%);

}

.oreille_d{
    background-color: #cc8576;
    height: 20%;
    width: 23%;
    top: 47%;
    left: 88%;
    position: absolute;
    border-bottom-right-radius: 90%;
    border-top-left-radius: 70%;
    border-top-right-radius: 50%;

}

.bouche{
    background-color: #b36b5d;
    height: 28%;
    width: 67%;
    top: 59.5%;
    left: 18.8%;
    position: absolute;
    clip-path: polygon(22% 49%, 18% 52%, 13% 55%, 9% 60%, 11% 62%, 16% 66%, 24% 71%, 36% 76%, 44% 77%, 60% 76%, 74% 72%, 84% 64%, 90% 57%, 82% 52%, 74% 48%, 67% 46%, 60% 45%, 53% 46%, 48% 47%, 43% 46%, 37% 45%, 33% 45%, 28% 46%);
}


.bouche_trait{
    position: absolute;
    top: 75.9%;
    left: 25%;
    width: 54%;
    transform: rotate(-1.8deg);
    height: 4px;
    border-bottom-left-radius: 50%;
    z-index: 1;
    border-bottom-right-radius: 50%;
    background-color: #9e5e52;

}

.barbe{
    left: 200px;
    position: absolute;
    top: 1017px;
    width: 280px;
    height: 236px;
    background: #0000004f;
    border-top-left-radius: 80% 15%;
    border-top-right-radius: 80% 15%;
}

.barbe::after{
    content: "";
    position: absolute;
    display: block;
    height: 50px;
    left: 32%;
    top: -28px;
    width: calc(40%);
    background-color: #cc8576;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.cheveux{
    position: relative;
    top: 7%;
    left: 13%;
    width: 74%;
    opacity: 50%;
    height: 3%;
    background-color: #5d4135;
    border-radius: 10px 10px 30px 30px / 12px 12px 20px 20px;
    z-index: 1;
}

.ch1{
    position: relative;
    top: 80px;
    left: 113px;
    width: 450px;
    opacity: 50%;
    height: 34px;
    background-color: #5d4135;
    border-radius: 10px 10px 30px 30px / 12px 12px 20px 20px;
    z-index: 1;
}

.nez{
    position: absolute;
    top: 45%;
    left: 58%;
    width: 4px;
    transform: rotate(-15deg);
    height: 230px;
    background-color: #b36b5d;
}

.nez-rond{
    border: 4px solid #b36b5d;
    position: absolute;
    top: 98%;
    left: -24px;
    box-shadow: -1px -6px #b6626045;
    height: 19px;
    width: 27px;
    transform: rotate(190deg);
    border-bottom: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.nez-rond2{
    border: 4px solid #b36b5d;
    position: absolute;
    top: 91%;
    left: -43px;
    box-shadow: 1px 12px #b6626045;
    background-color: #b36b5d;
    height: 19px;
    width: 27px;
    transform: rotate(14deg);
    border-bottom: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.nez-rond3{
    border: 4px solid #b36b5d;
    position: absolute;
    top: 94%;
    left: -93px;
    height: 18px;
    width: 51px;
    box-shadow: -2px -7px #b6626045;
    transform: rotate(193deg);
    border-bottom: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.nez-rond4{
    border: 4px solid #b36b5d;
    position: absolute;
    background-color: #b36b5d;
    top: 84%;
    left: -111px;
    height: 19px;
    box-shadow: 0px 13px #b6626045;
    width: 27px;
    transform: rotate(14deg);
    border-bottom: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.nez-rond5{
    border: 3px solid #b36b5d;
    position: absolute;
    top: 88%;
    left: -135px;
    height: 16px;
    width: 24px;
    transform: rotate(202deg);
    border-bottom: 0;
    box-shadow: -1px -6px #b6626045;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.moustache_g{
    width: 25%;
    height: 2%;
    left: 23%;
    background: linear-gradient(to top,rgb(170 112 97),rgb(149 99 85 / 0%)), linear-gradient(to right,#956355,#cc8576);
    position: absolute;
    top: 70%;
    border-top-left-radius: 70%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 60%;
    transform: rotate(-12deg);
}

.moustache_d{
    width: 25%;
    height: 2%;
    left: 57%;
    background: linear-gradient(to top,rgb(185 121 106),rgb(149 99 85 / 0%)), linear-gradient(to left,#956355,#cc8576);
    position: absolute;
    top: 70%;
    border-top-left-radius: 70%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 60%;
    transform: rotate(21deg);
}

.tourtete{
    height: 100%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 80%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    position: relative;
    top: -53%;
    padding-top: 9%;
    border: 3px solid #77473e;
}

.trait_d{
    width: 35%;
    height: 0.8%;
    left: 38%;
    border-bottom-right-radius: 5% 100%;
    background-color: #956355;
    position: absolute;
    top: 84%;
    transform: rotate(-40deg);
}

.trait_g{
    width: 35%;
    height: 0.8%;
    left: 34%;
    border-bottom-right-radius: 5% 100%;
    background-color: #956355;
    position: absolute;
    top: 84%;
    transform: rotate(40deg);
}

.trait_ombre_g{
    width: 20%;
    height: 0.8%;
    left: 29%;
    border-bottom-right-radius: 5% 100%;
    background-color: #956355;
    position: absolute;
    top: 31%;
    transform: rotate(-60deg);
}

.trait_ombre_g2{
    width: 20%;
    height: 0.8%;
    left: 7%;
    border-bottom-right-radius: 5% 100%;
    background-color: #956355;
    position: absolute;
    top: 31%;
    transform: rotate(-90deg);
}

.trait_ombre_d{
    width: 17%;
    height: 0.8%;
    left: 69%;
    border-bottom-right-radius: 5% 100%;
    background-color: #956355;
    position: absolute;
    top: 25%;
    transform: rotate(-71deg);
}

.trait_ombre_d2{
    width: 16%;
    height: 0.8%;
    left: 50%;
    border-bottom-right-radius: 5% 100%;
    background-color: #956355;
    position: absolute;
    top: 27%;
    transform: rotate(-106deg);
}

.cheveux_d{
    width: 25vmin;
    height: 3vmin;
    border-bottom-right-radius: 55%;
    border-top-left-radius: 40%;
    border-top-right-radius: 60%;
    position: relative;
    top: 17vmin;
    left: -18vmin;
    background: linear-gradient(to top,rgb(204 133 118),rgb(0 0 0));
    transform: rotate(-75deg);
}

.cheveux_d2{
    width: 25vmin;
    height: 3vmin;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 23%;
    border-top-right-radius: 100% 100%;
    position: relative;
    top: 9vmin;
    left: 46.4vmin;
    background: linear-gradient(to left,rgb(149 99 85 / 0%),rgb(93 65 53));
    transform: rotate(65deg);
}

.cheveux_d3{
    width: 19.3vmin;
    height: 3vmin;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 23%;
    border-top-right-radius: 32% 100%;
    position: relative;
    top: 16vmin;
    left: 51.4vmin;
    background: linear-gradient(to left,rgb(204 133 118),rgb(149 99 85));
    transform: rotate(77deg);
}

.ombre_lunette_g{
    position: relative;
    width: 210px;
    height: 240px;
    top: 84px;
    left: 5%;
    border-bottom-right-radius: 70%;
    border-bottom-left-radius: 45%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    /* border: 3px solid #716255; */
    margin-right: 50px;
    display: inline-block;
    padding: 0 25px;
    /* z-index: -1; */
    box-shadow: 13px -17px 4px #9e575d;
}

.ombre_lunette_d{
    position: relative;
    width: 215px;
    height: 240px;
    top: 82px;
    left: 10%;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 70%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin: auto;
    display: inline-block;
    padding: 0 25px;
    box-shadow: -19px -20px 4px 0px #9e575d;
}


.corps{
    width: 82%;
    height: 15%;
    background-color: #cc8576;
    position: absolute;
    top: 79%;
    left: 9%;
}

.trait_ombre_visage{
    width: 15%;
    height: 0.3%;
    background-color: #7b4a41;
    position: absolute;
    top: 72%;
    left: 5%;
    border-top-right-radius: 45%;
    transform: rotate(38deg);
}

.tr1{
    width: 15%;
    height: 0.3%;
    background-color: #7b4a41;
    position: absolute;
    top: 72%;
    left: 5%;
    border-top-right-radius: 45%;
    transform: rotate(38deg);
}

.trait_ombre_visage2{
    width: 15%;
    height: 0.3%;
    background-color: #7b4a41;
    position: absolute;
    top: 72%;
    left: 81%;
    border-top-left-radius: 45%;
    transform: rotate(-38deg);
}

.ombre_visage{
    width: 279%;
    height: 100%;
    background-color: #5d413533;
    position: absolute;
    top: -8.4%;
    transform: rotate(-6deg);
    left: -97%;
    z-index: 2;
    clip-path: polygon(40% 83%, 41% 88%, 42% 89%, 45% 95%, 45% 100%, 40% 100%, 39% 98%, 37% 91%, 35% 81%, 34% 73%);
}

.ombre_visage2{
    width: 279%;
    height: 100%;
    background-color: #5d413533;
    position: absolute;
    top: -7.4%;
    transform: rotate(6deg);
    left: -83%;
    z-index: 2;
    clip-path: polygon(66% 73%, 65% 81%, 64% 86%, 63% 91%, 62% 95%, 60% 100%, 56% 100%, 56% 97%, 58% 88%, 61% 81%);
}
